<div class="row">
<% @pets.each_with_index do |p,i| %>
  <div class="col-sm-3">
    <div class="card pet shadow-sm">
      <a class="cardlink" href="/pets/<%= p.id %>"></a>        
      <div class="row pt-2 pl-4 pr-2">
        <div class="icon <%= p.animal_type.type_name.downcase %>"> </div>
        <div class="col">
          <div class="row"><h5 class="card-title"><%= p.name %></h5></div>
          <div class="row">
            <%= content_tag :p, p.breed.name, :class => 'card-subtitle mb-2 text-muted' %>
          </div>
        </div>
      </div>
        <%= image_tag p.photos.first[:url], :class => 'card-img-bottom' %>
    </div>
  </div>
<% end %>
</div>


