<h3>Sign Up</h3>

<% if @user.errors.present? %>
<div class="alert alert-warning" role="alert">
  <p>There was a problem signing you up:</p>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <%= content_tag :li, m %>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :required => true, 'aria-describedby' => "emailHelp", :class => 'form-control' %>
    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true, :class => 'form-control' %>
  </div>
  <div class="d-flex justify-content-between">
    <%= link_to 'Already a member?', login_path, class: 'btn btn-link' %>
    <%= f.submit 'Sign Up!', :class => 'btn btn-primary justify-self-right' %>
  </div>
<% end %>

