<!DOCTYPE html>
<html>
  <head>
    <title>FureverApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-3 shadow-sm">
      <nav class="row pt-4">
        <div class="logo"></div>
        <div class="show-sm">
          <%= link_to '≫ Pets', pets_path %>
          <%= link_to '≫ Shelters', shelters_path %>
          <% if @current_user.present? %>
          <%= link_to '≫ Watch List', user_path(@current_user) %>
          <%= link_to '≫ Sign Out', login_path, :method => 'delete' %>
          <% else %>
          <%= link_to '≫ Sign Up', new_user_path %>
          <%= link_to '≫ Login', login_path %>
          <% end %>

          <% if @current_user.present? && @current_user.admin? %>
            <%= link_to '≫ Admin Console', admin_path %>
          <% end %>
        </div>
        <div class="col-sm hide-sm">
          <%= link_to 'Browse Pets', pets_path %>
          <span class="show-md">&nbsp;|&nbsp;</span>
          <%= link_to 'Browse Shelters', shelters_path %>
        </div>
        <div class="col-sm-1 hide-md"></div>
        <div class="col-sm hide-sm">
          <% if @current_user.present? %>
          <%= link_to 'Watch List', user_path(@current_user) %>
          <span class="show-md">&nbsp;|&nbsp;</span>
          <%= link_to 'Sign Out', login_path, :method => 'delete' %>
          <% else %>
          <%= link_to 'Sign Up', new_user_path %>
          <span class="show-md">&nbsp;|&nbsp;</span>
          <%= link_to 'Login', login_path %>
          <% end %>

          <%# if @current_user.present? && @current_user.admin? %>
            <%# link_to 'Admin Console', admin_path %>
          <%# end %>

          <% if @current_user.present? && @current_user.shelter_id.present? %>
            <%= link_to 'Manage', shelter_path(@current_user.shelter_id) %>
          <% end %>
        </div>
      </nav>
      <div class="slogan">Open your home Furevr</div>
      <div class="search">
        <form action="/pets/search" method="get">
            <%= label_tag :type, 'Type' %>
            <%= select_tag :type,  options_from_collection_for_select(AnimalType.all, :id, :type_name) %>
           
            <%= label_tag :breed, 'Breed' %>
            <%= select_tag :breed, options_from_collection_for_select(Breed.all, :id, :name) %>
            
            <%= label_tag :state, 'State' %>
            <%= select_tag :state, options_for_select(Shelter.all.pluck(:state).uniq) %>


            <%= submit_tag 'Search' %>
        </form>
      </div>
    </header>
      <main class="container-fluid">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
