<!DOCTYPE html>
<html>
  <head>
    <title>FureverApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <head>
        <nav>
          <%= link_to 'Browse Pets', pets_path %>
          <%= link_to 'Browse Shelters', shelters_path %>
          <div class="logo"></div>
          <% if @current_user.present? %>
          <%= link_to 'Watch List', user_path(@current_user) %>
          <%= link_to 'Sign Out', login_path, :method => 'delete' %>
          <% else %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Login', login_path %>
          <% end %>

          <% if @current_user.present? && @current_user.admin? %>
            <%= link_to 'Admin Console', admin_path %>
          <% end %>
        </nav>
        <div class="slogan"></div>
        <div class="search"></div>
      </head>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
